body {
    font-size: 13px;
}

.site-header {
    font: 13px Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace, serif;
    padding: 25px 50px;
    margin-bottom: 40px;
}

.site-header>a {
    text-decoration: none;
    color: #22bad9;
}

.site-header>a:hover {
    color: white;
    background-color: #22bad9;
}

.home {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: -1;
}

.main {
    text-align: center;
    flex: 0 0 auto;
    font: 13px Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
 

::-webkit-scrollbar {
    display:none
}

.main>h1 {
    font-size: 14px;
    font-weight: normal;
}

.main>nav {
    margin-top: 20px;
}

.main>nav>a {
    display: inline-block;
    margin: 0px 15px;
    text-decoration: none;
    color: #22bad9;
}

.main>nav>a:hover {
    color: white;
    background-color: #22bad9;
}

.post {
    margin-bottom: 10px;
}

.post-date {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 30px;
    color: rgb(153, 153, 153);
}

.post>a {
    color: #22bad9;
    text-decoration: none;
}

.post>a:hover {
    color: white;
    background-color: #22bad9;
}

.content {
    margin-left: 50px;
    font: 13px Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.page-title {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    margin: -10px 25px 35px 20px;
    color: rgb(80, 80, 80);
    text-align: center;
}

.post-content {
    margin: auto;
    /* padding: 4rem 1rem 0; */
    max-width: 60rem;
}

.about {
    margin: auto;
    /* padding: 4rem 1rem 0; */
    max-width: 40rem;
}

.about>hr {
    border: 0px;
    height: 1px;
    background: black;
    opacity: 0.05;
    margin: 4rem 0px;
}

.about>blockquote {
    font-style: italic;
    margin: 1.5rem;
}

.about>blockquote,
.about>blockquote p {
    line-height: 1.6;
}

.pnav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 3rem 0px 2rem;
}

.post-title {
    font-size: 1.5em;
    font-weight: 600;
}

.pcontents {
    color: black;
    font-size: 14px;
    line-height: 1.9;
    word-break: break-word;
    word-wrap: break-word;
    hyphens: auto;
    /*font-family: Optima-Regular, PingFangTC-light, 'Helvetica Neue', -apple-system, BlinkMacSystemFont, Helvetica, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Microsoft Yahei', sans-serif;*/
    font-family: Roboto,Helvetica,Tahoma,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Noto Sans CJK","WenQuanYi Micro Hei",sans-serif;
    color: #444443;
    font-feature-settings: 'liga'1, 'dlig'1, 'lnum'1, 'ordn'1, 'halt'1, 'kern'1, 'kern', 'mgrk';
    font-kerning: auto;
    font-variant: normal;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: white;
}

.post-title {
    font-size: 1.5em;
    font-weight: 600;
}

.pcontents>h2 {
    margin-top: 2.5rem;
    font-size: 1.3em;
    font-weight: 600;
}

.pcontents>h3 {
    font-size: 1.12em;
    margin-top: 2.5rem;
    font-weight: 600;
}

.back>a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

pre,
code {
    /*font-family: 'Roboto Mono', 'Inconsolata', monospace;*/
    /*font-size: 13px;*/
    overflow-x: scroll;
}

pre {
    font-family: monospace;
    white-space: pre;
    display: block;
    color: rgb(0, 0, 0);
    line-height: 1.25;
    font-size: 14px;
    overflow-x: auto;
    margin: 1.5rem 0px 1em;
    background: rgb(247, 247, 247);
    padding: 1.75rem;
    border-radius: 3px;
}

mark {
    background: #FF0080;
    color: #252222;
}

.pcontents>hr {
    border: 0px;
    height: 1px;
    background: black;
    opacity: 0.05;
    margin: 4rem 0px;
}

.pcontents>blockquote {
    margin: 1.5rem;
}


.pcontents>blockquote,
.pcontents>blockquote p {
    line-height: 1.6;
}

.pcontents>p {
    text-align: justify;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.site-footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: .8rem;
    color: #aaa;
}

img {
    width: auto;
    height: auto;
    margin-left: -15px;
    max-width: 100%;
    max-height: 100%;
}

.pcontents h1, .pcontents h2, .pcontents h3, .pcontents h4, .pcontents h5, .pcontents h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    color: #222223;
}
.pcontents a {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, rgba(49,184,204,0.5)));
    background: linear-gradient(to bottom, transparent 70%, rgba(49,184,204,0.5) 70%);
}


.entries {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 720px) {
  .entries {
    margin-left: 2px;
    margin-right: 2px;
  }
}
.entry {
  display: flex;

  line-height: 20px;
}
.entry a {
  color: inherit;
  text-decoration: none;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.entry a:hover,
.entry a:focus {
  background-color: rgba(119, 119, 119, 0.4);
  color: #fff;
}

.entry .left {
  min-width: 3rem;
  width: 3rem;
  margin-left: 1rem;
}
.entry .middle {
  width: 20%;

  margin-right: 2rem;

  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}
.entry .middle p:first-child {
  margin-top: 0;
  margin-bottom: 0;
}
.entry.quote .middle p:first-child {
  margin-bottom: 1rem;
}
.entry .right p:first-child {
  margin-top: 0;
}
.entry .right figure:first-child {
  margin-top: 0;
}
.entry .right figure {
  margin-left: 0;
  margin-right: 0;
}
